body {
    background-color: silver;
}

.logo {
    width: 300px;
    height: 300px;
    margin-left: 500px;
}

.logo-hospitals {
    width: 600px;
    height: 600px;
    float: right;
}

.Welcome-P {
    margin-left: 430px;
    font-size: 30px;
    color: #0b008c;
}

.explain {
    margin-left: 10px;
    font-size: 25px;
}

.Start {
    background-color: #0b008c;
    margin-left: 600px;
    font-size: 50px;
    color: white;
}

.Input-box {
    width: 300px;
    height: 30px;
    margin-left: 500px;
    border: #0b008c;
    border-radius: 20px;
    border-style: double;
    border-width: 2px;
    font-size: 20px;
}

.Submit-button {
    font-size: 25px;
    margin-left: 605px;
    background-color: #0b008c;
    color: white;
}

.Card-Of-Hospital {
    width: 150px;
    height: 156px;
    float: left;
}

.informations-about-hospital {
    margin-left: 180px;
    font-size: 18px;
    color: black;
}

.Card-postion {
    margin-right: 900px;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 156px;
    background-color: white;
}

.Card-postion:hover {
    filter: brightness(1.8);
    background-color: #0b008c;
}

.Card-postion:active {
    background-color: red;
    filter: brightness(9);
}

.Href-Hospital {
    text-decoration: none;
    margin-right: 500px;
}